---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - authentik.homelab.mortenolsen.pro
  resources:
  - authentikclients
  - authentikservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - authentik.homelab.mortenolsen.pro
  resources:
  - authentikclients/finalizers
  - authentikservers/finalizers
  verbs:
  - update
- apiGroups:
  - authentik.homelab.mortenolsen.pro
  resources:
  - authentikclients/status
  - authentikservers/status
  verbs:
  - get
  - patch
  - update
